<% include partials/header %>

<script src='/public/fescripts/histable.js'></script>
<script src='/public/fescripts/map.js'></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC72GyDR9YJ8Rs4x0URTiEuf1dehhHSyro&callback=initMap" async></script>

<div class='container-fluid'>

<div class='jumbotron'>
        <div id="map" style="width: 75%; height: 500px"></div>
</div>
    
<div id='tablesec'></div>

</div>